.full-width {
    width: 100%;
}

.form-field {
    margin-bottom: 16px;
}

.status-field {
    padding-top: 8px;
}

mat-dialog-content {
    min-width: 400px;
    padding-top: 20px !important;
}

h2 {
    color: #1e3c72;
    font-weight: 500;
}